global
    maxconn 20000
    ulimit-n  16384
    log 127.0.0.1 local0
    daemon

frontend fe_https
    bind *:8443 ssl crt /usr/local/etc/haproxy/certs/safecomet_bundle.pem
    mode http
    log global
    option httplog
    option dontlognull
    option nolinger
    maxconn 8000
    timeout client 30s
    
    acl is_vault hdr(host) -i vault.safecomet.local
    use_backend vault if is_vault

    acl is_grafana hdr(host) -i grafana.safecomet.local
    use_backend grafana if is_grafana

    acl is_prometheus hdr(host) -i prometheus.safecomet.local
    use_backend prometheus if is_prometheus

backend vault
    mode http
    balance roundrobin
    option httpchk
    server vault1 192.168.50.111:8200 check check-ssl ssl verify none

backend grafana
    mode http
    balance roundrobin
    option httpchk
    server grafana1 192.168.50.111:3000 check

backend prometheus
    mode http
    balance roundrobin
    option httpchk
    server prometheus1 192.168.50.111:9090 check
