[Unit]
Description={{ service_description }}
Documentation=https://github.com/lucky-sideburn/sfcomet
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/opt/sfcomet/sfagent
Restart=on-failure

[Install]
WantedBy=multi-user.target

